<a href="https://colab.research.google.com/github/krish0195/Pandas-working-pracice/blob/main/Pandas_24_useful_exercises_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.kaggle.com/code/icarofreire/pandas-24-useful-exercises-with-solutions

In [13]:
#1)1. How to create a series from a list, numpy array and dict?
import pandas as pd
import numpy as np
a_list=list("abcde")
a_array=np.arange(1,10)
a_dict={"a":0,"b":2,"c":3,"d":4,"e":5}

ser_a_list=pd.Series(a_list)
ser_a_array=pd.Series(a_array)
ser_a_dict=pd.Series(a_dict)

print(ser_a_list)
print(ser_a_array)
print(ser_a_dict)
a_array

0    a
1    b
2    c
3    d
4    e
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
a    0
b    2
c    3
d    4
e    5
dtype: int64

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
#2)How to combine many series to form a dataframe?
a_list =pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser2 =pd.Series(np.arange(0,26))

df=pd.DataFrame(a_list,ser2).reset_index()
df=pd.DataFrame({"col1":a_list,"a_list":ser2})
df=pd.concat([a_list,a_list],axis=1)

In [32]:
#3How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [47]:
#4. How to get the items not common to both series A and series B?
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

one=ser1[~ser1.isin(ser2)]

two=ser2[~ser2.isin(ser1)]
pd.concat([one,two],ignore_index=True)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64